<%- include ("header") -%> 

<h2>About this todo list</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, inventore at veniam aspernatur explicabo, nostrum non commodi hic officia placeat optio expedita debitis incidunt tenetur quasi aliquid ea perferendis rem.
</p>

<%- include ("footer") -%> 